.admin_dashboard_cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1.5rem;
    row-gap: 1.5rem;
}

.admin_news_cards_container {
    height: 500px;
    width: 450px;
}