.lg-heading {
  font-size: 4.2rem;
}

.text-justify {
  text-align: justify;
}

.fs-5_5 {
  font-size: 1.15rem;
}

.mb-6 {
  margin-bottom: 6rem !important;
}


.banner {
  height: 600px;

}

.hero_main {
  position: absolute;
  width: 50%;
  left: 12%;
  top: 40%;
}

.nav-link.active {
  color : #fff !important;
}

/* about us page */
.page-heading {
  font-size: 70px;
}

/* hero section */ 
.section-hero {
  background-image: url("https://alpaindia.org/_next/static/media/home-banner.f1d4c7df.jpg") ;
  background-size: cover;
  background-position: center;
  height: 100vh; 
  position: relative;
}

.hero-main {
  position: absolute;
  width: 55%;
  top: 60%;
  left: 50%;
  transform: translate(-50% ,-50%);
}

.hero-description {
  font-size: 1.2rem;
  font-weight: 500;
  color: #fff;
  margin: 1rem 3rem 0 5rem;
  text-align: justify;
}

.hero-header-div {
  transition: background-color 0.s ;
}


.hero-list-items a{
  padding: 7px 7px; 
}

.hero-list-items a:hover {
  background-color: gray;
  border-radius: 9px;
}

.hero-list-items a:link, .hero-list-items a:visited {
  text-decoration: none;
  color: #fff;
} 

.nav-btn {
 background-color: black !important;
 border-radius: 9px;
 font-size: 1.2rem;
 text-transform: uppercase;
}

.logo-img {
  width:247px;
  height: 47px;
}


/*  SECTION FEATURE */  
.feature-img {
  width: 100%;
}


.truncate-multi-line {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3; 
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 2; 

}
.truncate-single-line {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1; 
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 2; 

}
.public-content-body {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.card {
  padding: 0;
}

.card-text {
  height: 120px;
}

.card-img-top {
  width: 100%;
  margin: 0;
}

/* Call To Action                    */

.callToAction {
  margin-bottom: 5rem;
}

.cta input {
  width: 458px;
  height: 21px;
  padding: 24px 10px;
  border-radius: 7px;
}

.cta button { 
  height: 21px;
  padding: 24px 24px;
  border-radius: 7px;
} 

.section-footer {
  background: url('https://alpaindia.org/_next/static/media/footer_background.d55883eb.jpg');
  background-size: cover;
}

/* ABOUT US PAGE */ 

.breadcrumb {
  position: absolute;
  left: 15rem;
  top: 10rem;
  display: flex;
  list-style: none;
  font-size: 1.3rem;
}

.breadcrumb-item::before {
  content: ">";
  padding: 0 2.1rem;
}


.accordion-btn {
  background: none;
  border: none;
  padding: 0.5rem 1.2rem;
  transition: all 0.2s;
} 


.accordion-btn:hover {
  background-color: rgb(243 244 246/1);
  border-bottom: 3px solid #0C53A6;
}

.accordion-btn.active {
  border-bottom: 3px solid #0C53A6;
}

.contactUsBody {
  height: 500px;
}

.filter-brightness {
  filter: brightness(140%);
}

.enquiryFormBody {
  
  margin: 0 auto;
  padding-top: 2rem;
}


.enquiry-form-input {
    width: 680px;
    height: 5rem;
    padding: 24px 10px;
    border-radius: 7px;
    border: none;
    background-color: rgb(233 233 233 / 1);
}

.enquiry-form-textarea {
    width: 680px;
    height: 8rem;
    padding: 24px 10px;
    border-radius: 7px;
    border: none;
    background-color: rgb(233 233 233 / 1);
}





.sendBtn {
  background-color: #0C53A6;
  width: 15rem;
}
.sendBtn:hover {
  background-color: #083a74;
}



 .signInBody {
  max-width: 900px;
  margin: 0 auto;
 
} 

.pos-relative {
  position:relative;
}

.form-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 1rem;
  column-gap: 1.5rem;
}

  
.form-grid  input:not(input[type="radio"], input[type="checkbox"]),
.form-grid  select,.form-grid  textarea {
  width: 100%;
  height: 51px;
  display: block;
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid #ddd;
  background-color: rgb(232, 240, 254/1);
}

.fileUploadIcon ,.fileUploadEL{
  position: absolute;
  top: 0;
  right: 0;
}


#postalAddress {
  border-radius: 5px;
  border: 1px solid #ddd;
  background-color: rgb(232, 240, 254/1);
}

.scale-5 {
  transform: scale(1.5); /* Adjust the scale to increase or decrease size */ 
}

.nav-link {
  color: #fff;
  font-weight: 500;
  font-size: 1.2rem;
}

.nav-link:hover {
  background-color:rgb(63, 62, 62);
  border-radius: 7px;
  color: #fff;
}

.ps-6 {
  padding-left: 6rem;
}
.about-us-img {
  width: 100%;
 
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }
  .public-content-body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 2rem;
  }

  .hero-main {
    position: absolute;
    top: 25rem;
    left: 0px;
    padding: 0 1rem;
    margin: 0;
    text-align: center;
  }

  .hero-main h1 {
    font-size: 3rem;
    margin: 0;
    margin-bottom: 2rem;
  }

  .hero-description {
      margin: 0 1rem;
  }

  .breadcrumb {
    left: 2rem;
  }

  .hero_main {
  position: absolute;
  top: 50%;
  left: 50% !important;


  }
  
  .hero_main h1 {
    font-size: 2.5rem;
    line-height:2;
  }
  
  .contactUsBody {
    height: 1000px;
  }

  .form-grid {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 1rem; 
  }

  .show {
    background-color: #0C53A6; 
  }

  .navbar-collapse {
    transition:none;
  }
  .navbar-collapse.show {
    padding: 1rem 2rem;
  }

  .logo-img {
    margin-left: 2rem;
  }

  .iframe-img {
    display: block;
    width: 100%;
    height: 400px !important;
  }
.enquiry-form-input {
  width: 95%;
}
.enquiry-form-textarea {
  width: 95%;
}

}


@media only screen and (max-width: 400px) {
  .hero-main {
    top: 250px;
  }

  .iframe-img-div {
   height: 350px;
   padding-left: 0;
   padding-right: 2px;
  }

    /* For mobile phones: */
    [class*="col-"] {
      width: 100%;
    }

}

