/* Unapproved Applications  */


/* Rejected Applications  */

.medical_user_profile_card {
    position: absolute;
    width: 270px;
     right: 5px;
     top: -5px;
    z-index: 999;
    pointer-events: none;
    opacity: 0;
    transition: .4s all;
}

.bg_gray {
    background-color: #f1f3f5 !important;
}

.medical_user_profile_card img {
    height: 100px;
    border: 2px solid #fff
}



